*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #726DA8;
    /* text-align: center; */
    border:0;
    padding:0;
    margin:0;
}

#banner{
    background-image:url("../image/pexels-photo-1194713.jpeg");
    background-size:cover;
    padding:150px;
    color:white;
    text-shadow: 1px 1px 5px black;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#banner h1{
    color:#A0D2DB;
    opacity:0.8;
    font-size: 3.5em;
    font-weight:lighter;
}

#banner p{
    font-size:1.6em;

}

#banner a{
    color:#A0D2DB;
    background-color:#7D8CC4;
    opacity: 0.8;
    font-weight: bold;
    padding:10px;
    border-radius: 26px;
    text-decoration: none;
    text-align:center;
    width:10em;
}

#banner a:hover{
    background-color:#726DA8;
    color:#BEE7E8;
}

#footer{
    background-color:#5E5E5E;
    color:#7D8CC4;
    opacity: 0.8;
    font-size: 1.5em;
    font-weight: lighter;
    height: 75px;
    display: flex;
    justify-content:center;
    align-items: center;
    width:100vw;
}
.container{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding-top:2em;
    padding-bottom: 2em;;
    

}

.card{
    padding:50px;
    font-weight: lighter;
    width:320px;
    box-shadow: 0 4px 8px 0 rgba(125,0,0,0.2);
    margin:10px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(160,210,219,0.2);
  }